.container {
    width: 80%;
    margin: 2em auto;
    padding: 1em;
    border: 1px solid #e7cece;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
  
.heading {
    text-align: center;
    color: #333;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 1em;
}
  
.table {
    width: 100%;
    margin-top: 1em;
    border-collapse: collapse;
}
  
.table th, .table td {
    padding: 1em;
    border: 1px solid #e1e1e1;
}
  
.table th {
    background-color: #f9f9f9;
}
  
.form {
    display: flex;
    flex-direction: column;
    gap: 2em; /* Increased the gap for more spacing */
    align-items: flex-start; /* This will ensure that everything aligns to the left */
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%; /* This ensures that each form group takes the full width */
    gap: 1em;
}
  
.form input, .form select, .form button, .genre-buttons button {
    width: 100%; /* Makes sure all form fields and buttons have the same width */
    padding: 0.5em;
    border: 10px solid #e1e1e1;
    border-radius: 5px;
}
  
.form button, .genre-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.form button:hover, .genre-buttons button:hover {
    background-color: #0056b3;
}
  
.genre-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 1em;
}
